<!-- <div class="table">
    <% if (results.length > 0) { %>
        <% select.forEach(categoria => { %>
            <h4><%= categoria.nombre %> - <%= categoria.material %></h4>
            <table>
                <thead>
                    <tr>
                        <% if (table.some(spec => spec.nombre === categoria.nombre && spec.material === categoria.material && spec.subcategoria !== null)) { %>
                            <th>Subcategoría</th>
                        <% } %>
                        <% if (table.some(spec => spec.nombre === categoria.nombre && spec.material === categoria.material && spec.diametro !== null)) { %>
                            <th>Diametro</th>
                        <% } %>
                        <% if (table.some(spec => spec.nombre === categoria.nombre && spec.material === categoria.material && spec.longitud !== null)) { %>
                            <th>Longitud</th>
                        <% } %>
                        <% if (table.some(spec => spec.nombre === categoria.nombre && spec.material === categoria.material && spec.cantidad !== null)) { %>
                            <th>Cantidad</th>
                        <% } %>
                        <% if (table.some(spec => spec.nombre === categoria.nombre && spec.material === categoria.material && spec.codigo !== null)) { %>
                            <th>Código</th>
                        <% } %>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% table.forEach(spec => { %>
                        <% if (spec.nombre === categoria.nombre && spec.material === categoria.material) { %>
                            <tr>
                                <% if (spec.subcategoria !== null) { %>
                                    <td><%= spec.subcategoria %></td>
                                <% } %>
                                <% if (spec.diametro !== null) { %>
                                    <td><%= spec.diametro %></td>
                                <% } %>
                                <% if (spec.cantidad !== null) { %>
                                    <td><%= spec.cantidad %></td>
                                <% } %>
                                <% if (spec.longitud !== null) { %>
                                    <td><%= spec.longitud %>m</td>
                                <% } %>
                                <% if (spec.codigo !== null) { %>
                                    <td><%= spec.codigo %></td>
                                <% } %>
                                <td>
                                    <a href="/delete?id=<%= spec._id %>">
                                        <i class='bx bxs-trash-alt'></i>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    <% }); %>
                    <% if (!table.find(spec => spec.nombre === categoria.nombre && spec.material === categoria.material)) { %>
                        <tr>
                            <td colspan="5">No hay subcategorías</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% }); %>
    <% } else { %>
        <p>No se encontraron resultados para tu búsqueda.</p>
    <% } %>
    
</div> -->

<main>
    <h2>Resultados de búsqueda</h2>

<% if (results.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Material</th>
                <th>Subcategoría</th>
                <th>Diametro</th>
                <th>Longitud</th>
                <th>Cantidad</th>
                <th>Codigo</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(spec => { %>
                <tr>
                    <td><%= spec.nombre %></td>
                    <td><%= spec.material %></td>
                    <td><%= spec.subcategoria %></td>
                    <td><%= spec.diametro %></td>
                    <td><%= spec.longitud %>m</td>
                    <td><%= spec.cantidad %></td>
                    <td><%= spec.codigo %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <p>No se encontraron resultados para tu búsqueda.</p>
<% } %>

</main>